.center-log__contacts{
    list-style: none;
    height: 7%;
    margin: 1% 5%;
    padding: 1rem;
    font-size: 1.25rem;
}

/*.center-log__contacts li {*/
/*    background-color: #F0F8FD;*/
/*    color: #1E2446;*/
/*    height: 7%;*/
/*    margin: 1% 5%;*/
/*    font-size: 1.25rem;*/
/*}*/

/*.center-log__contacts li div {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.center-log__contacts h3{
    margin: 0.75rem 1rem 0.5rem;
}

.center-log__contact div a{
    padding: 0;
}

.center-log__contacts div button{
    display: inline-block;
    background-color: #1E2446;
    color: #dff9fb;
    margin: 1vh;
}