/* top part of a site page; contains logo + nav */

.menu-header {
    background-color: #F3F3F5;
    padding-top: 1vw;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* for proper height */
.menu-header:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
    clear: both;
}

.menu-header img {
    float: left;
}

.menu-header div{
    width: 80%;
    margin: auto;
}

/* ? */
.menu-header * {
    color: #1E2446;
}


