    .center_log {
        display: block;
        background-color: purple;
        width: 80%;
        margin-left: 10%;
        margin-top: 5%;
        text-align: center;
        padding: 0.5em;
        color: honeydew;
    }

    .inner_center_log{
        width: calc(90% - 1em);
        height: 10%;
        background-color: honeydew;
        color: purple;
        padding: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: 5%;
        font-size: 1.25em;
    }

    .center_log > h3 {
        color: greenyellow;
    }

    .center_log > * {
        color: honeydew;
    }

    a {color: honeydew; }

    input {
        text-align:center;
        font-family: "Fira Sans", serif;
        height:2em;
        width: 30%;
        margin: 0.5em;
    }

    .center_button {
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 5em;
        margin-left: calc((100% - 5em)/2);
        border-radius: 15%;
    }
