<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    .footer-decor{
        display: flex;
        justify-content: flex-start;
        width: 60%;
        flex-shrink: 0;
    }

    img {
        height: 5%;
        width: auto;
        margin: 0;
        padding: 0;
        border: solid 2px red;
    }
</style>

<body>

<footer class="footer-decor">
    <img src=src="https://static.vecteezy.com/system/resources/previews/000/106/564/non_2x/vector-seamless-geometric-blue-pattern.jpg">
    <img src=src="https://static.vecteezy.com/system/resources/previews/000/106/564/non_2x/vector-seamless-geometric-blue-pattern.jpg">
    <img src=src="https://static.vecteezy.com/system/resources/previews/000/106/564/non_2x/vector-seamless-geometric-blue-pattern.jpg">
    <img src=src="https://static.vecteezy.com/system/resources/previews/000/106/564/non_2x/vector-seamless-geometric-blue-pattern.jpg">
    <img src=src="https://static.vecteezy.com/system/resources/previews/000/106/564/non_2x/vector-seamless-geometric-blue-pattern.jpg">
    <img src=src="https://static.vecteezy.com/system/resources/previews/000/106/564/non_2x/vector-seamless-geometric-blue-pattern.jpg">
</footer>

</body>
</html>
